<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WECHAT</display-name>
  <description></description>
  <servlet>
    <servlet-name>tokenServlet</servlet-name>
    <servlet-class>com.core.servlet.TokenServlet</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ServletWecaht</servlet-name>
    <servlet-class>com.core.servlet.WechatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletWecaht</servlet-name>
    <url-pattern>/wechatSevlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ucsWechatServlet</servlet-name>
    <servlet-class>com.core.servlet.UcsWechatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ucsWechatServlet</servlet-name>
    <url-pattern>/sendMsg</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>